.vscode/
main 
words.json 
CMakeCache.txt
CMakeFiles/*
DartConfiguration.tcl
main.gcno
coverage/*
main.gcda
executeTests
cmake/coverage.cmake
cmake_install.cmake
Makefile
CMakeFiles/*
suffixtree/src/algorithm/__pycache__/
suffixtree/src/tests/__pycache__/
suffixtree/.coverage
suffixtree/.coveragerc
suffixtree/.env
